@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/breakpoints';

.learningModule {
    &__header {
        text-align: center;
    }

    &__title {
        margin: 25px 10px;
        color: $morning-sky;
        font-weight: 600;
        font-size: 1.5em;
        @media (max-width: $mobile) {
            text-align: left;
        }
    }

    &__subHeader{
        @include subheader;
        min-height: 42px;
        @media (max-width: $mobile) {
            display: none;
        }
    }
  
    &__answerArea {
        display: grid;
        justify-content: center;
        @media only screen and (max-width: $tablet) {
            border-radius: unset;
        }
        @media (min-width: $mobile) {
            background-color: white;
            box-shadow: 0px 0px 20px -15px;
            padding: 0px 0px 20px 0;
            border-radius: 10px;
        }
    }

    &__selections{ 
        padding: 30px 0;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        @media (max-width: $tablet) {
            grid-template-rows: 1fr 1fr;
        }
    }

    &__submitButtonContainer {
        height: 50px;
        .submitButton {
            @media (min-width: $mobile) {
                float: right;
            }
        }
    }
}
